<ion-header class="ion-no-border">
  <ion-toolbar class="admin-toolbar">
    <div class="page-header-container">
      <div class="header-info">
        <h1>EDUMEX <span>Dashboard</span></h1>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-slate-50">
  <div class="p-6">

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">

      <div (click)="openCreateOrderModal()"
           class="bg-white p-6 rounded-2xl border border-slate-200 shadow-sm hover:border-emerald-500 transition-all cursor-pointer group">
        <div class="flex items-center gap-4">
          <div class="bg-emerald-500 text-white p-4 rounded-xl shadow-lg shadow-emerald-200 group-hover:scale-110 transition-transform">
            <ion-icon name="add-outline" class="text-2xl font-bold"></ion-icon>
          </div>
          <div>
            <h3 class="text-navy font-black text-sm uppercase tracking-widest">Entrada</h3>
            <p class="text-slate-400 text-[10px] font-bold">Ingreso de mercancía</p>
          </div>
        </div>
      </div>



    </div>

  </div>

</ion-content>
