// Contenedor del buscador centrado
.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.custom-search {
  --background: #ffffff;
  --border-radius: 1.5rem;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  padding: 0;
  max-width: 600px; // Limita el ancho para que se vea mejor centrado
}

// Estilos para categorías
.cat-active {
  background: #facc15 !important; // Amarillo Dorado (Gold)
  color: #181848 !important;      // Texto Navy para contraste
  shadow: 0 4px 10px rgba(250, 204, 21, 0.3);
  transform: translateX(5px);
  border-radius: 1.5rem !important;
}

.cat-inactive {
  color: #64748b !important;
  border-radius: 1.5rem !important;

  &:hover {
    background: #f1f5f9 !important;
    color: #181848 !important;
  }
}

.sticky {
  position: sticky;
  top: 1.5rem;
  z-index: 10;
}

.price-range {
  --bar-background: #f1f5f9;
  --bar-background-active: #181848;
  --knob-background: #181848;
  --pin-background: #181848;
}
